.employees {
    padding: 25px 35px 79px;

    .breadcrumbs {
        margin-bottom: 22px;
    }

    &__header {
        .search {
            gap: 18px;

            &__input {
                width: 372px;
                padding: 14px 25px 14px 12px;
                border-radius: 9px;
                border: 1px solid var(--stroke, #E2E8F0);
                background: #FFF;
                box-shadow: 2px 4px 10px 0px rgba(180, 191, 205, 0.12);

                input {
                    flex-grow: 1;
                }
            }
        }
    }

    &__tab {
        display: flex;
        gap: 18px;

        li {
            padding: 10px 20px;
            border-radius: 30px;
            border: 1px solid #E2E8F0;
            background: #FFF;
            color: var(--gray-01, #4D515A);
            font-size: 16px;
            font-weight: 500;
            line-height: normal;

            span {
                color: #7364FF;
            }

            &.active {
                background: #7364FF;
                color: var(--white, #FFF);

                span {
                    color: var(--white, #FFF);
                }
            }
        }
    }

    &__menu {
        .select {
            width: 210px;
            padding: 10px 12px;
            border-radius: 4px;
            border: 1px solid var(--stroke, #E2E8F0);
            background: #FFF;
            box-shadow: 2px 4px 10px 0px rgba(180, 191, 205, 0.12);

            select {
                -webkit-appearance: none;
                color: #64748B;
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
            }
        }

        .filter {
            display: flex;
            width: 50px;
            height: 50px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 4px;
            border-radius: 9px;
            border: 1px solid var(--stroke, #E2E8F0);
            background: #FFF;
            box-shadow: 2px 4px 10px 0px rgba(180, 191, 205, 0.20);
        }
    }
}