.employees {
    padding: 25px 35px 79px;

    .breadcrumbs {
        margin-bottom: 22px;
    }

    &__header {
        .search {
            gap: 18px;

            &__input {
                width: 372px;
                padding: 14px 25px 14px 12px;
                border-radius: 9px;
                border: 1px solid var(--stroke, #E2E8F0);
                background: #FFF;
                box-shadow: 2px 4px 10px 0px rgba(180, 191, 205, 0.12);

                input {
                    flex-grow: 1;
                }
            }
        }
    }

    &__menu {
        .modal {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1001;
            width: 605px;

            .title {
                border-radius: 12px 12px 0px 0px;
                background: #FFF;
                color: #344054;
                font-size: 24px;
                font-weight: 500;
                line-height: 20px;
                text-align: center;
                padding: 33px 0 27px;
                margin-bottom: 12px;
            }

            &__content {
                border-radius: 0px 0px 12px 12px;
                background: #FFF;
                padding: 53px 32px 43px 33px;
                display: flex;
                flex-direction: column;
                gap: 34px;

                label {
                    margin-bottom: 6px;
                    color: #344054;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    display: block;
                }

                select, input {
                    width: 100%;
                    border-radius: 8px;
                    border: 1px solid #D0D5DD;
                    padding: 10px 14px;
                    background: #FFF;
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                }

                button, .button{
                    cursor: pointer;
                    border-radius: 5px;
                    background: #DBDBDB;
                    padding: 14px 18px;
                    color: #344054;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    &.btn-green{
                        background: #10B981;
                        color: #fff;
                    }
                }
            }
        }
    }

    &__tab {
        display: flex;
        gap: 18px;

        li {
            padding: 10px 20px;
            border-radius: 30px;
            border: 1px solid #E2E8F0;
            background: #FFF;
            color: var(--gray-01, #4D515A);
            font-size: 16px;
            font-weight: 500;
            line-height: normal;

            span {
                color: #7364FF;
            }

            &.active {
                background: #7364FF;
                color: var(--white, #FFF);

                span {
                    color: var(--white, #FFF);
                }
            }
        }
    }

}