.modal-inp__parent {
    width: 913px;
    height: 1076px;
    border-radius: 10px;
    background: #FFF;

    .modal-inp__child {
   
        display: flex;
        justify-content: space-between;
        align-items: center;

        select {
            width: 300px;
            border-radius: 9px;
            border: 1px solid #E2E8F0;
            background: #FFF;
            padding: 10px 14px;
            box-shadow: 2px 2px 6px 0px rgba(191, 191, 191, 0.15);


        }

        .form-left__inp {
            input {
                width: 300px;
                padding: 10px 15px;
                margin-top: 70px;
                border-radius: 9px;
                border: 1px solid #E2E8F0;
                background: #FFF;
                box-shadow: 2px 2px 6px 0px rgba(191, 191, 191, 0.15);
            }
        

            p {
                color: #A6A6A6;
                font-size: 18px;
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 8px;
                .text-p{
                    color: #A6A6A6;
                    font-size: 18px;
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-bottom: 8px;
                }



                .user {
                    width: 300px;
                    padding: 10px;
                }

            }
        }
    }
    .form-right__inp{
        input{
            width: 300px;
            padding: 10px 15px;
            border-radius: 9px;
            border: 1px solid #E2E8F0;
            margin-top: 70px;
            background: #FFF;
            box-shadow: 2px 2px 6px 0px rgba(191, 191, 191, 0.15);
        }
        p{
            color: #A6A6A6;
            font-size: 18px;
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 8px;

        }
    }
}