:root {
    //    frame2{
    --main: #5D5FEF;
    --existing: #178DCC;
    --product: #059691;
    --announcement: #E07706;
    --bug_fix: #E11D48;
    --customer: #4263EB;
    --all_Stories: #64748B;
    --stories: #334155;
    --account: #5D5FEF;
    //    }


    // button{
    --btn1: #5D5FEF;
    --btn2: #4F46E5;
    --danger: #F43F5E;
    --success: #10B981;
    // }


    // alert{
    --alert1: #F59E0B;
    --alert2: #10B981;
    --alert3: #F43F5E;
    --alert4: #6366F1;
    // }

    // banner{
    --banner1: #E0902D;
    --banner2: #059691;
    --banner3: #E11D48;
    --banner4: #5D5FEF;


    // }
}