.science {
  background: #f5f5fa;
  position: relative;
  padding: 10px 30px;
  height: calc(100vh - 104px);
  overflow-y: auto;

  .science__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    .science-direction {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        display: flex;
        width: 158.991px;
        padding: 10px 18px 10px 12px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 9px;
        background: #5d5fef;
        border: none;
        color: white;

        span {
          font-size: 24px;
        }
      }
    }

    .science__departments {
      ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 40px;
        width: 1000px;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: auto;

        li {
          cursor: pointer;
          padding-bottom: 10px;
          transition: .3s;
          font-size: 18px;
          font-weight: 500;
          &:hover {
            color: #5D5FEF;
          }

          &.active {
            color: #5D5FEF;
          }

          &:active {
            color: #5D5FEF;
          }
        }

        /* width */
        &::-webkit-scrollbar {
          height: 3px;
          display: none !important;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: transparent;
        }

        /* Handle on hover */
        &:hover::-webkit-scrollbar-thumb {
          background: #c3c3c3;
        }
      }
    }

    .science__cards {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 42px;
      flex-wrap: wrap;

      .science__card {
        padding: 18px;
        width: 290px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 26px;
        border-radius: 12px;
        background: #fff;
        box-shadow: 1.9px 3.9px 3.9px 0px rgba(180, 191, 205, 0.2);

        .science-card__top {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        >img {
          width: 254px;
          height: 152px;
          object-fit: cover;
        }
      }
    }
  }
  .modal__content {
    width: 690px;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%) scale(0);
    justify-content: center;
    padding-bottom: 20px;

    form {
      width: 605px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .label {
        color: #a6a6a6;
      }

      .save__btn {
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        #save {
          display: flex;
          width: 118px;
          height: 36px;
          padding: 10px 12px;
          justify-content: center;
          align-items: center;
          gap: 4px;
          flex-shrink: 0;
          border-radius: 9px;
          background: #5d5fef;
          border: none;
          color: white;
        }

        #saveX {
          margin-left: 10px;
          display: flex;
          height: 36px;
          padding: 10px 12px;
          justify-content: center;
          align-items: center;
          gap: 4px;
          flex-shrink: 0;
          border-radius: 9px;
          background: red;
          border: none;
          color: white;
        }
      }

      #modal__inputs {
        display: flex;
        width: 290px;
        padding: 12px 18px;
        align-items: center;
        gap: 41px;
        flex-shrink: 0;
        border-radius: 9px;
        border: 1px solid #e2e8f0;
        background: #fff;
        box-shadow: 2px 2px 6px 0px rgba(191, 191, 191, 0.15);
      }

      .selects,
      .datas {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
      }

      .texterya {
        width: 100%;

        textarea {
          width: 100%;
          border-radius: 9px;
          border: 1px solid #e2e8f0;
          background: #fff;
          box-shadow: 2px 2px 6px 0px rgba(191, 191, 191, 0.15);
          padding: 5px;
          resize: none;
        }
      }

      .upload {
        padding: 30px 0;
        width: 100%;
        max-height: 488px;
        border-radius: 10px;
        border: 1px dashed #5d5fef;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .image {
          margin-top: 10px;
          display: flex;
          justify-content: center;

          img {
            width: 250px;
          }
        }
      }
    }
  }

  .modal__show {
    transform: translate(-50%, -50%) scale(1);
    transition: .3s;
  }
}