$white-color: #FFFFFF;
$secondary-color: #F3F8FB;
$disabled-color: #DBDBDB;
$fonts-primary__icon: #8B83BA;
$gray-01: #4D515A;
$gray-02: #40444D;
$blue-color: #7364FF;
$main-color: #5D5FEF;
$success-color: #10B981;

$text-color1: #3B424A;
$text-color2: #7B8190;
$warning-color: #FF0000;

